<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Homepage</title>
    <link rel = "stylesheet" href = "/TeacherHome.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <div class = "wrapper">
        <div class = "sidebar">
            <h2>BASED HIGH</h2>
            <ul>
                <li><a href="/updateStudentList"><i class="fas fa-home"> Home</i></a></li>
                <li><a href="/SearchStudentPage"><i class="fas fa-search"> Search</i></a></li>
                <li><a href="/AddStudentPage"><i class="fas fa-user-plus"> Add Student</i></a></li>
                <li><a href="#"><i class="fas fa-user-minus"> Remove Student</i></a></li>
                <li><a href="/signout"><i class="fas fa-power-off"> Sign Out</i></a></li>
            </ul>
        </div>
        <div class = "main-content">
            <div class = "header">Welcome  <%=name %></div>
            <div class = "info">
                <h1>Class List</h1>
                <table id="table" class="styled-table">
                    <tr class = "table-header">
                        <td>IDNumber</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Gender</td>
                        <td>School Year</td>
                    </tr>
                                            
                        <% for (let i = 0; i < student.length; i++) { %>
                            <tr class="active-row">
                                <td><%= student[i].IDNumber %></td>
                                <td><%= student[i].FirstName %></td>
                                <td><%= student[i].LastName %></td>
                                <td><%= student[i].Gender %></td>
                                <td><%= student[i].SchoolYear %></td>
                            </tr>
                        <%  } %>
               </table>
            </div>
        </div>
    </div>
    
</body>
</html>